@import "tailwindcss";

@font-face {
    font-family: "Montserrat";
    src: url(./assets/fonts/Montserrat-VariableFont_wght.woff2) format("woff2");
}
@font-face {
    font-family: "Quicksand";
    src: url(./assets/fonts/Quicksand-VariableFont_wght.woff2) format("woff2");
}

@theme {
    --color-primary-background: #212121;
    --color-secondary-background: #171717;
    --color-accent: #007bff;
    --color-primary: #fefefe;
    --font-heading: "Montserrat", sans-serif;
    --font-content: "Quicksand", sans-serif;
}

* {
    outline: none;
}

html {
    font-size: clamp(8px, calc(14px + 1vw), 24px);
}
